*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
}
.toolbox{
    height: 5rem;
    background-color: #435058;
    display: flex;
    align-items: center;
}
.toolbox > *{
    margin-left: 4rem;
    border-radius: 20px;
}
.toolbox-priority-container{
    height: 3.5rem;
    width: 16rem;
    background-color: #F1FAEE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.action-button-container{
    height: 3.5rem;
    width: 8rem;
    background-color: #F1FAEE;
    display: flex;
}
.action-button-container > *{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 30px;
}
.action-button-container > *:hover{
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
}
.color{
    height: 1.3rem;
    width: 3rem;
    background-color: lightyellow;
    border-radius: 5px;
}
.red{
    background-color: #CE4257;
}
.blue{
    background-color: #0E6BA8 ;
}
.green{
    background-color: #157F1F ;
}
.black{
    background-color: black ;
}
.border{
    border: 3px solid red;
}


/*Modal Container Styling*/
.modal{
    height: 50vh;
    width: 45vw;
    background-color: lightskyblue;
    position: absolute;
    top: calc( (100vh - 50vh) / 2);
    left: calc( (100vw - 45vw) / 2); 
    display:none;
}
.text{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    background-color: lightgreen;
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
}
.priority-color-cont{
    height: 100%;
    width: 25%;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.priority-color{
    height: 3rem;
    width: 55%;
}
.ticket-cont{
    height: 12rem;
    width: 16rem;
    background-color: blanchedalmond;
    
}
.ticket-color{
    height: 1rem;
    background-color: black;
}
.ticket-id{
    height: 2rem;
    background-color: cornflowerblue;
    padding: 0.4rem;
}
.task{
    height: calc(100% - 1rem - 2rem);
    padding: 0.4rem;
}

/*Main Container Styling*/
.main-cont{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}
